*.pyc
*.bak
*.d
*.so
*.pcm
*.txt
*.pdf
*~
*.root
*.png
*.json
core.*
__init__.py
*/compare
config.json
PicoProducer/config
PicoProducer/config/config*
PicoProducer/config/config.json
PicoProducer/samples/files
PicoProducer/output
PicoProducer/data/jsonpog
Plotter/plots
Plotter/tutorial/plots
Plotter/hists
Plotter/xsec_fit
Fitter/*/*plots*
Fitter/*.log
Fitter/output*
Fitter/*.out
Fitter/Zpt/weights